<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
    <title>Hello</title>
  </head>
  <body>
    <div hx-ext="ws" ws-connect="/ws">
      <div id="notifications"></div>
      <div id="chat_room">...</div>
      <form id="form" ws-send>
        <input name="chat_message">
      </form>
    </div>
  </body>
</html>
