{{ define "jobs" }}
<div hx-swap-oob="true"
     id="jobs"
     class="container shadow-xl rounded-2xl p-3 m-auto">
  <div class="justify-center overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>ID</th>
          <th>Priority</th>
          <th>State</th>
          <th>Created At</th>
          <th>Edited At</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Jobs }}
        <tr ws-send
            hx-trigger="click"
            hx-vals='{"job_id": "{{.ID}}"}'
            class="hover">
          <th>{{ .ID }}</th>
          <td>{{ .Priority }}</td>
          <td>{{ .State }}</td>
          <td>{{ .CreatedAt }}</td>
          <td>{{ .EditedAt }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
