{{ define "tasks" }}
<div hx-swap-oob="true"
     id="tasks"
     class="container shadow-xl rounded-2xl p-3 m-auto">
  <div class="justify-center overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $t := .Tasks }}
        <tr class ="hover">
          <th>{{ $i }}</th>
          <td>{{ $t.Name }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
