{{ define "tasks" }}
<div hx-swap-oob="true"
     id="tasks"
     class="container shadow-xl rounded-2xl p-3 m-auto">
  <div class="justify-center overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Priority</th>
          <th>State</th>
          <th>Created At</th>
          <th>Edited At</th>
          <th>Job ID</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Tasks }}
      <tr {{ if eq .State "progress" }} class="hover text-green-500" {{ else if eq .State "completed" }} class="hover text-blue-500" {{ else }}  class="hover" {{ end }}>
        <th>{{ .ID }}</th>
        <td>{{ .Priority }}</td>
        <td>{{ .State }}</td>
        <td>{{ .CreatedAt }}</td>
        <td>{{ .EditedAt }}</td>
        <td>{{ .JobID }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
</div>
{{ end }}
