{{ define "workers" }}
<div hx-swap-oob="true"
     id="workers"
     class="container shadow-xl rounded-2xl p-3 m-auto">
  <div class="justify-center overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>State</th>
          <th>Task ID</th>
          <th>Created At</th>
          <th>Edited At</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Workers }}
      <tr {{ if eq .State "working" }} class="hover text-green-500"{{ else if eq .State "waiting" }} class="hover text-white"{{ else }}  class="hover" {{ end }}>
        <th>{{ .ID }}</th>
        <td>{{ .Name }}</td>
        <td>{{ .State }}</td>
        <td>{{ .TaskID }}</td>
        <td>{{ .CreatedAt }}</td>
        <td>{{ .EditedAt }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
</div>
{{ end }}
